body {
  width: fit-content;
  height: fit-content;
}

#btn_container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#screenshots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.screenshot {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 7rem;
  box-sizing: border-box;
  transition: transform 2s ease, opacity 3s ease;
}
#sc_pic {
  height: 100%;
  width: 100%;
}
.buttons {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
}

.draggable.dragging {
  opacity: 0.5;
  transform: scale(1.05); /* Slightly increase size when dragging */
  transition: transform 0.2s ease, opacity 0.2s ease; /* Ensure transition applies during dragging */
}
