body{
  width: fit-content;
  height: fit-content;
}
#screenshots{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.screenshot{
  position: relative;
  height: 10rem;
  width: 7rem;
  border: 1px solid #999;
  box-sizing: border-box;
}
#sc_pic{
  height: 100%;
  width: 100%;
}
.buttons{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
}

.draggable.dragging {
  opacity: .5;
}